h1 {
  font-family: "Playfair Display", serif;
  font-optical-sizing: auto;
  font-weight: 700;
  font-style: normal;
}
p {
  font-family: "Poppins", sans-serif;
  font-weight: normal;
}
.bg-warning {
  background-color: #ffc107;
}
.d-flex {
  display: flex;
}
